 html,
  body {
    background-image: url(../pictures/200.gif);
  }

#calenderb {
  background-image: url(../pictures/images.jpg);
   background-size:cover;
  background-repeat: no-repeat;
}

#candleb {
  background-image: url(../pictures/Screenshot\ 2025-05-19\ 183204.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#calender,
#candle {
  display: none;
}

@media only screen and (max-width:700px) {}

@media only screen and (min-width:1366.1px) {}